@{
    ViewBag.Title = "Index_Fresh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="header">

        <div class="header-top">
            <div class="logo">
                <a href="index.html"><img src="/Content/images/logo.png" alt="" /></a>
            </div>
            <div class="search">
                <form>
                    <input type="text" value=" Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-nav">
            <span class="menu"><img src="/Content/images/menu.png" alt="">  </span>
            <ul>
                <li class="active"><a href="http://www.tutgou.com"> 主页 </a></li>
                <li><a href="about.html"> 最新 </a></li>
                <li><a href="/tutechan-liebiao">商品</a></li>
                <li><a href="/users/users/UserCreateLoad">我的TutGou</a></li>
                <div class="clearfix"></div>
            </ul>
            <script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
            </script>
        </div>

    </div>
    <!--//header-->
    <!--banner-->
    <div class="banner">

        <div class="col-md-4 banner-top">
            <img src="/Content/images/1.jpg" class="img-responsive">
            <div class="top-banner">
                <h3>新鲜的板栗</h3>
            </div>
        </div>
        <div class="col-md-4 banner-top">
            <img src="/Content/images/2.jpg" class="img-responsive">
            <div class="top-banner1">
                <h3>刚下树的板栗</h3>
            </div>
        </div>
        <div class="col-md-4 banner-top">
            <img src="/Content/images/3.jpg" class="img-responsive">
            <div class="top-banner2">
                <h3>栗蘑</h3>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//banner-->
    <!--content-->
    <div class="content">
        <div class="welcome">
            <h1>欢迎</h1>
            <p>
                迁西县位于燕山南麓，长城脚下，滦水之滨。迁西板栗是河北省传统特色农产品，至今有2000多年的栽培历史，独特的土壤和气候条件造就其绝佳的口感和风味，产品主要销往美国、日本、韩国、港台地区及上海、广州、大连、深圳、昆明等国内60多个大中城市，深受国内外消费者喜爱
            </p>
            <div class="welcome-top">
                <div class="col-md-12">
                    <ul>
                        <li><a href="/tutechan-zhuanmai-qianxi-banli"><i></i> 板栗</a></li>
                        <li><a href="#"><i></i> 栗蘑</a></li>
                    </ul>
                </div>
                @*<div class="col-md-6">
                    <ul>
                        <li><a href="#"><i></i> The standard chunk of Lorem Ipsum.</a></li>
                        <li><a href="#"><i></i> Lorem Ipsum is not simply random text.</a></li>
                        <li><a href="#"><i></i> There are many variations of passages.</a></li>
                    </ul>
                </div>*@
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--//welcome-->
        <!--products-->
        <div class="products">
            <div class="products-top">
                <h2>特产</h2>
                <p>本店热销的土特产，全部都是正常自然熟，不添加任何催熟剂</p>
            </div>
            <div class="products-bottom">
                <div class="col-md-3 bottom-products">
                    <img class="img-responsive" src="/Content/images/mo.jpg" />
                    <p>含苞待放的板栗</p>
                </div>
                <div class="col-md-3 bottom-products">
                    <img class="img-responsive" src="/Content/images/mo1.jpg" />
                    <p>糖炒板栗</p>
                </div>
                <div class="col-md-3 bottom-products">
                    <img class="img-responsive" src="/Content/images/mo2.jpg" />
                    <p>栗蘑炒菜</p>
                </div>
                <div class="col-md-3 bottom-products">
                    <img class="img-responsive" src="/Content/images/mo3.jpg" />
                    <p>栗蘑干</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--//products-->
        <!--events-->
        @*<div class="content-mid">
            <h3> Events</h3>
            <div class="news">
                <div class="col-md-6 new-more">
                    <div class="six">
                        <h4>26<span>June</span></h4>
                        <h6><a href="#">Sed ut perspiciatis unde omnis </a></h6>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
                    <a class="hvr-bounce-to-top" href="#">Read More</a>
                </div>
                <div class="col-md-6 new-more">
                    <div class="six">
                        <h4>26<span>April</span></h4>
                        <h6><a href="#">Voluptatem accusantium doloremque </a></h6>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
                    <a class="hvr-bounce-to-top" href="#">Read More</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>*@
        <!--//events-->


    </div>
    <!--//content-->
    <!--footer-->
    <div class="footer">
        <!--newsletter-->
        @*<div class="newsletter">
            <h3>Newsletter</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            <form>
                <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                <input type="submit" value="SUBSCRIBE">
            </form>
        </div>*@
        <!--//newsletter-->
        <div class="footer-top-top">
            <div class="col-md-4 footer-top">
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="google"> </i></a></li>
                </ul>
            </div>
            @*<div class="col-md-4 footer-top">
                <p>12 Lorem Ipsum 1222 simply dummy</p>
                <p>+875 609 754 398</p>
            </div>*@
            <div class="col-md-4 footer-top">
                <p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//footer-->
</div>