@{
    ViewBag.Title = "zhongzhuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="header">

        <div class="header-top">
            <div class="logo">
                <a href="index.html"><img src="/Content/images/logo.png" alt="" /></a>
            </div>
            <div class="search">
                <form>
                    <input type="text" value=" Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-nav">
            <span class="menu"><img src="/Content/images/menu.png" alt="">  </span>
            <ul>
                <li class="active"><a href="http://www.tutgou.com"> 主页 </a></li>
                <li><a href="about.html"> 最新 </a></li>
                <li><a href="/tutechan-liebiao">商品</a></li>
                <li><a href="/users/users/Index">我的TutGou</a></li>
                <div class="clearfix"></div>
            </ul>
            <script>
                $("span.menu").click(function () {
                    $(".top-nav ul").slideToggle(500, function () {
                    });
                });
            </script>
        </div>

    </div>
    <div class="content">
        <div class="welcome">
            <p>
                @if (ViewData["url"] != null)
                {
                    <button type="button" class="btn btn-warning" id="btnSave" onclick="window.location.href = '@ViewData["url"]'">@ViewData["note"]</button>
                }
                else
                {
                    <b>@ViewData["note"]</b>
                }
                <button type="button" class="btn btn-success" id="btnSave" onclick="window.location.href = '/shouye'">返回首页</button>
            </p>
        </div>


    </div>
    <div class="footer">
        <div class="footer-top-top">
            <div class="col-md-4 footer-top">
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="google"> </i></a></li>
                </ul>
            </div>

            <div class="col-md-4 footer-top">
                <p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>