@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/products/Views/Shared/_Layout.cshtml";
}
<!--content-->
<div class="content">

    <!--products-->
    <div class="gallery">
        <div class="gallery-top">
            <h1>土特产</h1>
            <p>土特产的精品</p>
        </div>
        <div class="gallery-bottom">
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>新鲜生板栗</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga1.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left  b-delay03 ">
                            <span>栗蘑干</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga2.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>糖炒板栗</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga3.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>新鲜栗蘑</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        @*<div class="gallery-bottom">
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga4.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>Fruit</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga5.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>Fruit</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga6.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>Fruit</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bottom-gallery">
                <a href="~/Content/images/ga7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga7.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>Fruit</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>*@

    </div>
    @*<script src="js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">*@
    <!--light-box-files -->
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.bottom-gallery a').Chocolat();
        });
    </script>

    <!--//products-->
</div>