@{
    ViewBag.Title = "productaddload";
    Layout = "~/Areas/users/Views/Shared/_Layout.cshtml";
}
<!--content-->
<div class="contact">
    <div class="contact-form">
        <div class="col-md-4 contact-grid">
            @using (Html.BeginForm("productadd", "product", FormMethod.Post, new { @id = "form1", @name = "form1", onSubmit = "Comit();return jQuery.formValidator.pageIsValid('1')", enctype = "multipart/form-data" }))
            {
                <div>
                    <span>商品名称：</span>
                    <input type="text" value="商品名称" id="nativeName" maxlength="40" name="Name" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = '商品名称'; }" />
                    <div id="nativeNameTip" style="width: auto"></div>
                </div>
                <div class="clearfix"> </div>
                <div>
                    <span>商品描述：</span>
                    <textarea id="txtDescript" maxlength="100" name="Description"></textarea>
                    <div id="txtDescriptTip" style="width: auto"></div>
                </div>
                <div class="clearfix"> </div>
                <div>
                    <span>单价：</span>
                    <input type="text" id="txtUnitprice" title="单价" name="UnitPrice">
                    <div id="txtUnitpriceTip" style="width: auto"></div>
                </div>
                <div class="clearfix"> </div>
                <div>
                    <span>商品图片：</span>
                    <input type="text" id="txtImage" title="图片地址" name="ImageUrl">
                    <div id="txtImageTip" style="width: auto"></div>
                </div>
                <div class="clearfix"> </div>
                <div class="send">
                    <input type="hidden" id="hiIsnew" value="true" name="IsNew" />
                    <button type="button" class="btn btn-success" id="btnSave" onclick="$('#form1').submit()">添加</button>
                    &nbsp;&nbsp;&nbsp;
                </div>
            }
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!--//content-->
@section scripts{
    <script src="/Scripts/jquery/formValidator-4.1.3.js"></script>
    <script src="/Scripts/jquery/formValidatorRegex.js"></script>
    <script type="text/javascript">
        $(function () {
            AddActiveClass("my");
        })
    </script>
    <script type="text/javascript">

        $(function () {
            var _cityXmlDoc = null;
            $.formValidator.initConfig({ formID: "form1", theme: "ArrowSolidBox", alertMessage: false, submitOnce: false, onError: function () { $("#btnSave").attr("disabled", false); } });

            $("#nativeName").formValidator({ onShow: "请输入商品名称", onCorrect: "谢谢你的合作" }).regexValidator({ regExp: "notempty", dataType: "enum", onError: "商品名称不能为空" });

            $("#txtDescript").formValidator({ onShow: "请输入商品详情", onCorrect: "谢谢你的合作" }).inputValidator({ type: "size", min: 1, onError: "请输入 商品详情" });
            $("#txtImage").formValidator({ onShow: "请输入图片地址", onCorrect: "" }).functionValidator({
                fun: function (val, elem) {
                    if (val == "") {
                        return true;
                    } else if (val != "") {
                        var Reg = new RegExp(regexEnum.notempty);
                        if (Reg.test(val)) {
                            return true;
                        }
                        else {
                            return "地址格式不正确！";
                        }
                    }
                }
            });
            $("#txtUnitprice").formValidator({ onShow: "请输入密码", onCorrect: "谢谢你的合作" }).inputValidator({ type: "number", min: 1, max: 100000, onError: "请输入 1~100000 之间的数字" }).regexValidator({ regExp: "num", dataType: "enum", onError: "必须为数字" });;

        })
        function Comit() {
            $("#btnSave").attr("disabled", "disabled");
        }
    </script>
    <script>
        $("span.menu").click(function () {
            $(".top-nav ul").slideToggle(500, function () {
            });
        });
    </script>
}
