@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/products/Views/Shared/_Layout.cshtml";
}
<!--content-->
<div class="content">

    <!--products-->
    <div class="about">
        <div class="about-top">
            <h1>栗蘑（灰树花）</h1>
            <p>绝对保证0添加，真正无污染培养，原产地直卖！！好吃又营养又健康！！</p>
        </div>
        <div class="about-middle">
            <div class="col-md-3 bottom-gallery">
                <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga1.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>新鲜栗蘑干，每份（50g）14元</span>
                        </h3>
                    </div>
                </a>
                @*<div class="our">
                <div class="col-md-10 our-at">
                    <img class="img-responsive" src="~/Content/images/ab1.jpg" alt="">
                </div>
                <div class="clearfix"> </div>
            </div>*@
            </div>
            <div class="col-md-4 bottom-about">
                <h4>我们拥有得天独厚的优势！</h4>
                <ul>
                    <li><a href="#"><i></i> 全部直接从产地收购，保证产品源头</a></li>
                    <li><a href="#"><i></i> 收购过程精挑细选，保证产品是精品中的精品</a></li>
                    <li><a href="#"><i></i> 产品种植过程，全程跟踪，保证0残留</a></li>
                    <li><a href="#"><i></i> 天然贮藏，不添加任何防腐剂</a></li>
                </ul>
            </div>
            <div class="col-md-4 our-at">
                <br />
                <br />
                <br />
                @using (Html.BeginForm("CreateOrders", "orders", new { area = "orders" }, FormMethod.Post, new { id = "form1" }))
                {
                    <div class="choose-amount fl about-middle ">
                        <div class="wrap-input">
                            <a class="btn-reduce" href="javascript:;" onclick="ReduceBuyNum('buy-num')">-</a>
                            <a class="btn-add" href="javascript:;" onclick="AddBuyNum('buy-num')">+</a>
                            <input class="text" id="buy-num" name="count" value="1" onkeyup="ModifyBuyNum('buy-num');">
                            <input type="hidden" value="1518f67c-e116-49d7-a401-7813d27a7734" name="Id">
                        </div>
                    </div>
                    <div class="about-bottom">
                        <a class="hvr-bounce-to-top" href="javascript:void(0);" onclick="$('#form1').submit()">团&nbsp;&nbsp;购</a>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="about-bottom">
            <div class="col-md-3 bottom-gallery">
                <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="~/Content/images/ga3.jpg" />
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>新鲜栗蘑干，每份（50g）14元</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-7 mid-about">
                <p>
                    栗蘑萃取秋冬深山的野林木之气，百花野草之香，含有丰富的氨基酸、蛋白质等多种微量元素，具有松蕈样芳香，肉质柔嫩，味如鸡丝，脆似玉兰。原产于日本北部山区，其味道佳、口感好且有传承药效，自古以来备受推崇。据农业部质量检测中心分析河北省迁西人工栽培的灰树花，其营养和口味都胜过号称菇中之王的香菇，能烹调成多种美味佳肴，是极其珍贵的高档食用蕈菌。


                </p>
                <p>
                    21世纪70年代以前，栗蘑还只是野生繁殖，每年5月上旬到10月在迁西的板栗树林中偶尔能采到新鲜的栗蘑。栗蘑形态婀娜，层叠如莲，闻之香气沁脾，食之脆嫩爽口，具有独特的口味和齿感。栗乡人历来把难得采到的栗蘑送给远在外地的游子，或当贵客临门时，才拿出来待客，以表盛情。
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <!--//products-->
    <!--events-->
    <div class="content-mid">
        <h3> 评价</h3>
        <div class="news">
            <div class="col-md-6 new-more">
                <div class="six">
                    <h4><span>@DateTime.Now.ToString("MM-dd")</span></h4>
                    <h6><a href="#">用户 </a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>香甜可口，质量确实不错，感觉好好的！</p>
                <a class="hvr-bounce-to-top" href="javascript:void(0);">回&nbsp;&nbsp;复</a>
            </div>
            <div class="col-md-6 new-more">
                <div class="six">
                    <h4><span>@DateTime.Now.ToString("MM-dd")</span></h4>
                    <h6><a href="#">用户 </a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>香甜可口，质量确实不错，感觉好好的！</p>
                <a class="hvr-bounce-to-top" href="javascript:void(0);">回&nbsp;&nbsp;复</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//events-->


</div>
<!--//content-->
<!--footer-->
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/regexenum.js"></script>
    <script type="text/javascript">
        function ReduceBuyNum(id) {
            var now = parseInt($("#" + id).val());
            var re = now - 1;
            if (re <= 0) {
                re = 1;
            }
            $("#" + id).val(re);
        }
        function AddBuyNum(id) {
            var now = parseInt($("#" + id).val());
            var re = now + 1;
            if (re <= 0) {
                re = 1;
            }
            $("#" + id).val(re);
        }
        function ModifyBuyNum(id) {
            var reg = new RegExp(eval("regexEnum.intege1"));
            if (!reg.test($("#" + id).val())) {
                $("#" + id).val(1);
            }
        }
    </script>
}